# IDEs
.vscode/
*.code-workspace

# Python
__pycache__/
.venv/
venv/

# Repositories
monitoring-dashboard-samples/

# Terraform
**/tfplan
*.terraform/
*.terraform-*/

# Test
test/log/*.log
test/scripts/environment_files/*

# Node
node_modules
