# CWS
platforms/cws/_shared_config/secrets/cloudbuild_cws_image_git_token
platforms/cws/image_pipeline/repositories/*

# GKE
gke_gcloud_auth_plugin_cache

# IDEs
.vscode/
*.code-workspace

# JWT
**/jwt-claim.json
**/token.jwt

# Node
node_modules

# Python
__pycache__/
.venv/
venv/
.python-version

# Repositories
monitoring-dashboard-samples/

# Terraform
**/tfplan
**/.terraform.tfstate.lock.info
*.terraform/
*.terraform-*/
terraform.tfstate*

# Test
test/log/*.log
test/scripts/environment_files/*
