# Ignore all repository directories and files not needed
.dev-tools/
.devcontainer/
.github/
.terraform.d/
container-images/cpu/mft-data-preparation/gemma-it/cloudbuild.yaml
container-images/cpu/mft-data-preparation/gemma-it/DEVELOPER.md
container-images/cpu/mft-data-processing/
container-images/cpu/mft-fine-tuning/
container-images/cpu/mft-model-eval/
container-images/gpu
container-images/tpu
docs/
modules/
platforms/
projects/
terraform/
test/
tools/
/use-cases
.coveragerc
.editorconfig
.gitignore
.prettierrc
CONTRIBUTING.md
cspell.json
LICENSE
README.md
requirements.txt
run_python_coverage_test.sh
run_python_unittests.sh

!container-images/cpu/mft-data-preparation/gemma-it/src/requirements.txt
