# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: inference-perf-config
  namespace: ${BENCHMARKING_KUBERNETES_NAMESPACE}
data:
  config.yaml: |
    load:
      type: constant
      interval: 1.0
      sweep:
        type: linear
        timeout: 250
        num_stages: 7
        stage_duration: 30
      num_workers: 20
      worker_max_concurrency: 15
      worker_max_tcp_connections: 2500
    api: 
      type: completion
      streaming: true
    server:
      type: vllm
      model_name: /gcs/${HF_MODEL_ID}
      base_url: http://${APP_LABEL}.${BENCHMARKING_KUBERNETES_NAMESPACE}.svc.cluster.local:8000
      ignore_eos: true
    tokenizer:
      pretrained_model_name_or_path: ${HF_MODEL_ID}
    data:
      type: shareGPT
    metrics:
      type: prometheus
      prometheus:
          scrape_interval: 15
          google_managed: true         # Whether using Google Managed Prometheus
          filters: [] 
    report:
      request_lifecycle:
        summary: true
        per_stage: true
        per_request: true
      prometheus:
        summary: true
        per_stage: true
    storage:
      google_cloud_storage:               
        bucket_name: ${hub_models_bucket_bench_results_name}   # Required GCS bucket
        report_file_prefix: null          # Optional filename prefix
        
