# Development
**/backend.tf
platforms/gke/base/core/container_node_pool/container_node_pool_*
platforms/gke/base/core/custom_compute_class/manifests/*
platforms/gke/base/core/workloads/custom_metrics_adapter/manifests/*
platforms/gke/base/core/workloads/inference_gateway/manifests/*
platforms/gke/base/core/workloads/jobset/manifests/*
platforms/gke/base/core/workloads/kueue/manifests/*
platforms/gke/base/core/workloads/lws/manifests/*
platforms/gke/base/core/workloads/nvidia_nim/*
platforms/gke/base/core/workloads/priority_class/manifests/*
platforms/gke/base/kubernetes/*
platforms/gke/base/use-cases/inference-ref-arch/kubernetes-manifests/model-download/downloader.env
platforms/gke/base/use-cases/inference-ref-arch/kubernetes-manifests/model-download/secretproviderclass-huggingface-tokens.yaml
platforms/gke/base/use-cases/inference-ref-arch/kubernetes-manifests/online-inference-gpu-base/deployment.env
platforms/gke/base/use-cases/inference-ref-arch/kubernetes-manifests/online-tpu/base/deployment.env
